body {
	/* height: 400px; */
}

.col-12 {width: 100%}
.col-11 {width: 91.66%;border: 3px solid #444444; }
.col-10 {width: 83.33%; border: 3px solid yellow;}
.col-9 {width: 75%; border: 3px solid red;}
.col-8 {width: 66.66%; border: 3px solid orange;}
.col-7 {width: 58.3%; border: 3px solid orangered;}
.col-6 {width: 50%; border: 3px solid blueviolet}
.col-5 {width: 41.66%; border: 3px solid grey;}
.col-4{width: 33.3%;border: 3px solid brown;}
.col-3{width: 25%; border: 3px solid aquamarine;}
.col-2 {width: 16.66%; border: 3px solid saddlebrown;}
.col-1{width: 8.3%; border: 3px solid teal;}


.title {
	text-align: center;
}
.question{
	text-align: left;
	display: inline-block
}
.positioning {
	position: relative;
}
.child-div {
	margin: 0 auto 0 auto;
}
.clr{
	clear: both;
}